@model ReversiMvcApp.Models.Speler

@{
    ViewData["Title"] = "Rol aanpassen";
}

<h1>Rol aanpassen</h1>

<div>
    <h4>Speler</h4>
    <hr />
    <dl class="row">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Guid" />
            <select asp-for="Rol" asp-items="Html.GetEnumSelectList<Rol>()" class="form-control"></select>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Guid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
