@model ReversiMvcApp.Models.Spel

@section Scripts {
    <script type="text/javascript" src="~/js/signalr/dist/browser/signalr.js"></script>
    <script type="text/javascript" src="~/js/app.js"></script>
    }

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="bord">
</div>

<div>
    @if ((bool)ViewData["Connected"])
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Maak je begonnen spel af.");
            };
        </script>
    }
</div>
