@using ReversiMvcApp.Models

@model ReversiMvcApp.Models.Spel

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(spel => spel.Speler1token)
            </td>
        </tr>
    </tbody>
</table>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
